<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div>
            <div class="user_avatar">
                <div>
                    <img src="assets/images/Container.png" alt="avatar" class="avatar">
                    <p>Bookwarmdev</p>
                </div>
                <div style="display: flex; justify-content: space-around;" class="container">
                    <p class="bwd_userinfo">492 <span>Post</span></p>
                    <div id="user_space"></div>
                    <p class="bwd_userinfo">4.5M <span>Followers</span></p>
                    <div id="user_space"></div>
                    <p class="bwd_userinfo">6 <span>Following</span></p>
                </div>
            </div>
        </div>

        <div>
            
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
</div>