/* profile pic avatar */
.user_avatar {
    display: flex; 
    margin-top: 5px;
    margin-left: 20px;
}

.user_avatar p {
    margin-top: 10px;
}
.avatar {
    width: 90px;
    height: 90px;
    vertical-align:  middel;
    border-radius: 50%;
    margin-right: 20px;
}

.bwd_userinfo {
    text-align: center;
}

.bwd_userinfo span {
    display: flex; 
    color: gray;
    font-size: small;
}

#user_space {
    width: 20px;
}